.layout-parent .realTimeVideo {
	// height: calc(99.9vh - 84px);
	height: 100%;
	// position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	display: flex;
	flex-direction: row;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */

	.realTimeVideo_leftNavs {
		width: 230px;
		height: 100%;
		background-color: rgba(233, 233, 233, 1);
		box-shadow: 0px 0px 4px #ccc;

		.searchArea {
			padding: 10px 0px;
			border-bottom: 1px solid #ccc;

			.el-input {
				width: 90%;
				margin-left: 11px;

				input {
					height: 35px;
				}

				.el-input__suffix {
					display: flex;
					align-items: center;
					font-size: 18px;
					cursor: pointer;
				}
			}
		}

		.accordion {
			height: calc(100% - 60%);
			border-bottom: 1px solid #ccc;
			overflow: auto;
			transition: all 0.5s;

			.el-tree {
				background-color: transparent;

				.el-tree-node__content {
					height: 33px;
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-between;
					color: rgba(51, 51, 51, 1);
					transition: all 0.2s;

					&:hover {
						background-color: rgba(143, 73, 222, 0.2);
					}

					.el-tree-node__label {
						padding-left: 10px;
					}

					.el-icon-caret-right {
						color: black;
					}

					.el-tree-node__expand-icon.is-leaf {
						color: transparent;
					}
				}

				&.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
					background-color: rgba(143, 73, 222, 0.2);
				}

				.el-checkbox {
					display: none;
				}

				.el-tree-node__loading-icon {
					color: black;
					position: absolute;
					right: 15px;
				}

				.el-tree-node.active {
					background-color: #53a4bf;
				}
			}
		}

		.control {
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			height: calc(60% - 60px);
			transition: all 0.5s;
			overflow: hidden;

			.text {
				color: rgba(51, 51, 51, 1);
				font-size: 13px;
			}

			.content {
				width: 100%;
				border: 1px solid rgba(151, 151, 151, 1);
				height: 84%;
				margin-top: 10px;
				position: relative;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10px 0px;
				padding-bottom: 60px;
				.circle-btn {
					display: inline-block;
					width: 130px;
					height: 130px;
					min-height: 130px;
					min-height: 130px;
					background: linear-gradient(45deg, #535353, #6e6e6e); /* 使用渐变作为背景 */
					border: 10px solid #8b8b8b; /* 外圈边框 */
					border-radius: 50%; /* 使按钮变成圆形 */
					box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* 添加立体感的阴影效果 */
					color: white;
					text-align: center;
					line-height: 100px; /* 垂直居中文本 */
					font-size: 20px;
					text-decoration: none;
					position: relative;

					.el-icon {
						cursor: pointer;
						position: absolute;

						transition: all 0.6s;

						&:nth-child(1) {
							top: 0;
							left: 50%;
							transform: translateX(-50%);

							&:hover {
								transform: translateX(-50%) scale(1.1);
							}

							&:active {
								transform: translateX(-50%) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(2) {
							top: 25%;
							left: 77%;
							transform: translate(-50%, -50%) rotate(45deg);

							&:hover {
								transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
							}

							&:active {
								transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(3) {
							top: 50%;
							left: 100%;
							transform: translate(-100%, -50%) rotate(90deg);

							&:hover {
								transform: translate(-100%, -50%) rotate(90deg) scale(1.1);
							}

							&:active {
								transform: translate(-100%, -50%) rotate(90deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(4) {
							top: 75%;
							left: 77%;
							transform: translate(-50%, -50%) rotate(135deg);

							&:hover {
								transform: translate(-50%, -50%) rotate(135deg) scale(1.1);
							}

							&:active {
								transform: translate(-50%, -50%) rotate(135deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(5) {
							bottom: 0;
							left: 50%;
							transform: translateX(-50%) rotate(180deg);

							&:hover {
								transform: translateX(-50%) rotate(180deg) scale(1.1);
							}

							&:active {
								transform: translateX(-50%) rotate(180deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(6) {
							top: 50%;
							left: 0;
							transform: translate(5%, -40%) rotate(-90deg);

							&:hover {
								transform: translate(5%, -40%) rotate(-90deg) scale(1.1);
							}

							&:active {
								transform: translate(5%, -40%) rotate(-90deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(7) {
							bottom: 22%;
							left: 25%;
							transform: translate(-50%, 50%) rotate(-135deg);

							&:hover {
								transform: translate(-50%, 50%) rotate(-135deg) scale(1.1);
							}

							&:active {
								transform: translate(-50%, 50%) rotate(-135deg) scale(1.4);
								transition: all 0s;
							}
						}
						&:nth-child(8) {
							top: 25%;
							left: 23%;
							transform: translate(-50%, -50%) rotate(-45deg);

							&:hover {
								transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
							}

							&:active {
								transform: translate(-50%, -50%) rotate(-45deg) scale(1.4);
								transition: all 0s;
							}
						}
					}

					.cease {
						width: 37%;
						height: 37%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				.liest {
					margin-top: 20px;
					width: 100%;
					padding: 0px 25px;
					.item {
						width: 100%;
						list-style: none;
						display: flex;
						align-items: center;
						margin-bottom: 10px;
						.title {
							display: inline-block;
							width: 50px;
							color: #333;
							font-size: 13px;
						}

						.main {
							display: flex;
							align-items: center;
							flex-grow: 1;
							justify-content: space-between;

							.el-icon {
								cursor: pointer;
								transition: all 0.6s;

								&:hover {
									transform: scale(1.1);
								}

								&:active {
									transform: scale(1.3);
									transition: all 0s;
								}
							}
						}
					}
				}

				.directionBox {
					width: 80%;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.item {
						width: 32%;
						height: 35px;
						border: 1px solid #ccc;
						cursor: pointer;
						transition: all 0.2s;
						margin-bottom: 3px;
						display: flex;
						align-items: center;
						justify-content: center;

						.el-icon {
							transition: all 0.2s;
							color: #939393;
						}

						&:hover {
							border-color: #333;

							.el-icon {
								color: #4a4a4a;
							}
						}

						&:nth-child(1) {
							.el-icon {
								transform: rotate(45deg);
							}
						}

						&:nth-child(2) {
							.el-icon {
								transform: rotate(90deg);
							}
						}

						&:nth-child(3) {
							.el-icon {
								transform: rotate(135deg);
							}
						}

						&:nth-child(4) {
							.el-icon {
								transform: rotate(0deg);
							}
						}

						&:nth-child(5) {
							.el-icon {
							}
						}

						&:nth-child(6) {
							.el-icon {
								transform: rotate(180deg);
							}
						}

						&:nth-child(7) {
							.el-icon {
								transform: rotate(315deg);
							}
						}

						&:nth-child(8) {
							.el-icon {
								transform: rotate(270deg);
							}
						}

						&:nth-child(9) {
							.el-icon {
								transform: rotate(225deg);
							}
						}
					}
				}

				.zoomOutBox {
					width: 80%;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-top: 10px;
					.item {
						width: 50%;
						height: 35px;
						border: 1px solid #ccc;
						cursor: pointer;
						transition: all 0.2s;
						margin-bottom: 3px;
						display: flex;
						align-items: center;
						justify-content: center;

						.el-icon {
							transition: all 0.2s;
							color: #939393;
						}

						&:hover {
							border-color: #333;

							.el-icon {
								color: #4a4a4a;
							}
						}

						&:nth-child(1) {
							border-right-style: dotted;
						}
						&:nth-child(2) {
							border-left: none;
						}

						&:nth-child(3) {
							border-right-style: dotted;
						}
						&:nth-child(4) {
							border-left: none;
						}

						&:nth-child(5) {
							border-right-style: dotted;
						}
						&:nth-child(6) {
							border-left: none;
						}
					}
				}

				.sliderBox {
					width: 80%;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-top: 10px;

					.el-slider {
						.el-slider__runway {
							background-color: #949494;
						}
						.el-slider__button-wrapper {
							.el-slider__button {
								width: 15px;
								height: 15px;
							}
						}
					}

					.el-input {
						width: 60px;
						margin-top: 10px;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}

			.controlIcon {
				margin-left: 20px;
				cursor: pointer;
				transform: scale(1);
				transition: all 0.3s;

				&:hover {
					transform: scale(1.3);
				}

				&.rotate {
					transform: rotate(90deg);

					&:hover {
						transform: rotate(90deg) scale(1.3);
					}
				}
			}
		}
	}

	.realTimeVideo_main {
		width: calc(100% - 350px);
		margin: 0 auto;
		height: 85%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		.content {
			height: calc(100% - 70px);
			background-color: black;

			.video {
				width: 100%;
				height: 100%;
			}

			.contentTips {
				position: absolute;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;

				.left {
					font-weight: bolder;
					font-size: 16px;
				}

				.right {
				}
			}
		}

		.domain {
			height: 70px;
			background-color: #fff;
			box-shadow: 1px 1px 4px 1px rgba(221, 221, 221, 1);
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
			display: flex;
			justify-content: space-between;

			.domain_left {
				height: 100%;
				display: flex;
				align-items: center;

				.item {
					width: 52px;
					height: 100%;
					align-items: center;
					display: flex;
					justify-content: center;
					position: relative;

					.text {
						position: absolute;
						font-size: 9px;
						top: 8px;
					}

					&:last-child {
						&:hover {
							.progressBarSlider {
								width: 200px;
								padding: 0px 10px;
							}

							.img {
								transform: scale(1.2);
							}
						}
						.progressBarSlider {
							position: absolute;
							width: 0px;
							overflow: hidden;
							height: 36px;
							display: flex;
							align-items: center;

							background-color: rgba(14, 14, 14, 0.2);
							left: 48px;
							border-radius: 21px;
							transition: all 0.3s;
							padding: 0px;

							.el-slider {
								.el-slider__runway {
									background-color: #fff;
								}
							}
						}
					}
				}

				img {
					height: 26px;
					cursor: pointer;
					transform: scale(1);
					transition: all 0.3s;

					&:hover {
						transform: scale(1.2);
					}

					&.down {
						animation: scaleAnimation 1s infinite alternate;
					}
				}
			}

			.domain_right {
				height: 100%;
				display: flex;
				align-items: center;
				padding-right: 20px;
			}
		}
	}
}

@keyframes scaleAnimation {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.7);
	}
}
